<div class="widget intro">
  <div class="animation" id="scanimation">
    <img src="/images/User-FastFission-brain.gif">
    <img src="/images/onion-cropped.gif">
    <img src="/images/bananaflower-cropped.gif">
    <img src="/images/passionfruit-cropped.gif">
    <img src="/images/pomegranate-cropped.gif">
  </div>
</div>
