#header
  text-shadow 0 0 1px #fff
  margin 50px auto
  a
    color #999
    &:hover
      color color-link
      text-decoration none
  @media screen and (max-width: 600px)
    margin-bottom 10px

  h1
    font-weight normal
    font-size 5em
    line-height 1
    @media screen and (max-width: 600px)
      font-size 4em


  h2
    font-weight normal
    font-size 1em
    line-height 1
    margin-top 20px
    margin-left 15px
    @media screen and (max-width: 600px)
      margin-top 10px
  
  #main-nav
    font-family font-title
    font-size 2em
    line-height 2em
    ul
      list-style none
      li
        float left
        margin-left 30px
    @media screen and (max-width: 600px)
      font-size 1.5em
      margin-top 10px
      margin-bottom 15px
      line-height 2em
